.layout {
    font-size: 3vw;
    text-align: center;
    h1 {
      color: #2e8fff;
      margin: 5px 15px;
    }
  
    p, span {
      color: #7e92a8;
      margin: 5px 25px;
    }
  
    a {
      color: #4297f5;
      text-decoration: none;

    }
  
    a:hover {
      color: #7ab9ff;
    }

    a:active {
      color: #478fde;
    }
  
    select {
      color: #2e8fff;
      padding:15px 20%;
      option:first-child {
        color: #7e92a8;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .layout {
        font-size: 4vw;
      }
  }

  @media screen and (max-width: 400px) {
    .layout {
        font-size: 5vw;
      }
  }

