.navbar {
  background: linear-gradient(#1369ef 15%, #0d19a9 50%, #0c0c9d 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .navbar a {
    color: #338bff;
    font-size: 20px;
    margin: 2px 5px;
    padding-top: 15px;
    text-decoration: none;
    padding: 15px; }

.layout {
  font-size: 3vw;
  text-align: center; }
  .layout h1 {
    color: #2e8fff;
    margin: 5px 15px; }
  .layout p, .layout span {
    color: #7e92a8;
    margin: 5px 25px; }
  .layout a {
    color: #4297f5;
    text-decoration: none; }
  .layout a:hover {
    color: #7ab9ff; }
  .layout a:active {
    color: #478fde; }
  .layout select {
    color: #2e8fff;
    padding: 15px 20%; }
    .layout select option:first-child {
      color: #7e92a8; }

@media screen and (max-width: 600px) {
  .layout {
    font-size: 4vw; } }

@media screen and (max-width: 400px) {
  .layout {
    font-size: 5vw; } }

